{% extends 'web3auth/base.html' %}
{% block content %}
  <div class="row m-t-2">
    <h1>Index</h1>
    {% if user.is_authenticated %}
    <br>
    <h3>{{ user.username}}
    </h3>
          <a href="{% url 'logout' %}">
        logout
    </a>
  {% endif %}
    <div class="container">
                          <button id="aaa" type="button" onclick="loginWith()">aaa</button>
</div>

  <div class="row m-t-2">
    <button type="button" onclick='loginWith()'>token</button>
  </div>

  </div>

{% endblock content %}

